.container {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    border-radius: 15px;

    a {
        text-decoration: none;
        color: black;
        padding: 10px;
    }
}